body {
    margin:0;
    padding:0;
}

img {
    width:100%;
}

img.border {
    border:5px solid white;
    border-radius:50px;
}


@font-face {
    font-family: "wax";
    src: url("WaxMelt-Regular.woff") format("woff");
}

@font-face {
    font-family:"bigcaslon";
    src: url("BigCaslon.woff") format("woff");
}

div.container {
    display: flex;
    flex-wrap:wrap;


    padding:20px;
}


div.item {
    
}

div.width25 {
    width:25%;
}

div.width50 {
    width:50%;
}

div.width75 {
    width: 75%;
}

div.green {
    background-color: lightgreen;
}

div.purple {
    background-color: rgb(232, 181, 232);
}

div.largetext {
    font-size: 60px;
}

div.mediumtext {
    font-size: 30px;
}

div.smalltext {
    font-size: 18px;
}



div.quote {
    font-size:36px;
    margin-left:auto;
}

div.title {
    font-size:84px;
}

div.bodytext {
    font-size:32px;
}

div.grid {
    background-color: blue;
    background-image: url("pattern.png");
    background-size:100px;
    transition: 1s;
}

div.grid:hover {
    background-size:300px;
    transition: 1s;
}

div.cover {
    width:100vw;
    height: 100vh;
    position: relative;
}

iframe.streetview {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}

div.covertitle {
    position: absolute;
    top:0px;
    left:0px;
    font-size: 200px;
    text-align: center;
    z-index: 2;
    pointer-events: none;
}