body {
    padding:0;
    margin:0;
}

@font-face {
    font-family: "wax";
    src: url("WaxMelt-Regular.woff") format("woff");
}

@font-face {
    font-family:"bigcaslon";
    src: url("BigCaslon.woff") format("woff");
}

h1 {
    
}

div.box {
    background-color:aqua;
    width:300px;
    margin-left:auto;
    margin-right: auto;
    font-size:30px;
    border-radius:10px;
}

div.title {
    font-size:150px;
    text-align:center;
    background-color: gold;
}

div.contents {
    font-size:18px;
    padding-bottom:300px;
    text-align:center;
    background-color: gold;
}

div.text {
    font-size:32px;
    background-color: black;
    color: white;
    padding:20px;
}

div.quote {
    font-size:70px;
}