body {
    background-color:red;
}

div.poster {
    background-image: url('e.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    background-color: lime;
    width:75%;
}

div.container {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
}

div.col {
    overflow:hidden;
}

div.col img {
    width: 100%;
}

/* 4 col grid */

div.w1-4 {
    width:25%;
}

div.w2-4 {
    width:50%;
}

div.w3-4 {
    width:75%;
}

div.w4-4 {
    width:100%;
}

/* 3 col grid */

div.w1-3 {
    width:33.33%;
}

div.w2-3 {
    width:66.66%;
}

div.w3-3 {
    width:100%;
}

/* 2 col grid */

div.w1-2 {
    width: 50%;
}

div.w2-2 {
    width: 100%;
}

/* end of grids */

div.text {
    font-size:120px;
    font-family:arial narrow;
    transition:0.5s;
}

/* rule 1 */

/* to do a comment type cmd + ? */

div.text.one {
    font-size:20px;
}

div.text.two {
    font-size:40px;
}

div.text.three {
    font-size:80px;
}

/* rule 2 */

div.text.a {
    /* background-image: url('e.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; */
}

div.text.b {
    /* background-image: url('mm.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; */
}

div.text.c {
    /* background-image: url('mm.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; */
}

/* rule 3 */

div.text.x {
    text-transform: uppercase;
}

div.text.y{
    color:transparent;
}

div.text.z {

}

div.small {
    font-family:arial narrow;
    font-size: 20px;
    color:black;
}