body {
    font-family: 'arial narrow';
    font-weight: bold;
    font-size: 21px;
    color:orangered;
}

a {
    color:orangered;
}

img {
    width: 100%;
    display: block;
}

div.button {
    border-bottom:1px solid orangered;
    margin-right:20px;
}

div.logo {
    border:1px solid transparent;
}

/* masthead */

div.masthead {
    font-size: 16vw;
    letter-spacing: -2vw;
    padding: 20px;
    margin-top: 20px;
}

div.hero {
    width: 50%;
    margin: auto;
}

@keyframes grad {
    0% {
        background-size: 30px;
    }

    100% {
        background-size: 40px;
    }
}

div.about {
    font-family: serif;
    letter-spacing: -0.2vw;
    font-weight: normal;
    font-size:3vw;
    padding:20px; 
}

div.aboutsmall {
    border-top: 1px solid orangered;
    gap: 20px;
}

/* filter */
div.title {
    font-size:9vw;
    letter-spacing: -0.5vw;
    padding:20px;
    text-align: center;
}

div.subtitle {
    font-size:9vw;
    letter-spacing: -0.5vw;
    padding:20px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

div.filter {
    display: flex;
    flex-wrap:wrap;
    padding:20px;
    border-top: 1px solid orangered;
    color:orangered;
}

/* grid */

div.container {
    display: flex;
    flex-wrap:wrap;
    padding:20px;
}

div.items {
    display: flex;
    flex-wrap:wrap;
    padding:20px;
    gap: 20px;
    row-gap: 80px;
    align-items: flex-end;
}

div.item {
    width: calc(33.33% - 20px);
}

div.number {
    font-size:9vw;
}

div.item img {
    width: 100%;
}

div.item.feature {
    width: calc(66.66% - 20px);
}

div.col {

}

div.nav {
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
}

div.w-1-2 {
    width: calc(50% - 20px);
}

div.w-1-3 {
    width: calc(33.33% - 20px);
}

div.footer {
    margin-top:33vh;
    display: flex;
    flex-wrap:wrap;
    padding:20px;
    border-top:1px solid orangered;
    color:orangered;
}