body {
    font-family: arial;
    font-size: 21px;
}



div.button {
    border-bottom:1px solid black;
    margin-right:20px;
}

div.logo {
    border:1px solid transparent;
}

/* masthead */

div.masthead {
    font-size:60vw;
    line-height: 45vw;
    text-align: left;
    font-family: arial;
    letter-spacing: -7vw;
    
    background-image: radial-gradient(white, black, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 10px;
    animation: grad 20s alternate infinite linear;
}

@keyframes grad {
    0% {
        background-size: 30px;
    }

    100% {
        background-size: 40px;
    }
}

div.about {
    font-family: serif;
    font-size:4vw;
    padding:20px;
}

/* filter */
div.filter {
    display: flex;
    flex-wrap:wrap;
    padding:20px;
    border-top: 1px solid black;
    color:black;
}

/* grid */

div.container {
    display: flex;
    flex-wrap:wrap;
    padding:20px;
}

div.items {
    display: flex;
    flex-wrap:wrap;
    padding:20px;
    gap: 20px;
    row-gap: 80px;
    align-items: flex-end;
}

div.item {
    width: calc(33.33% - 20px);
}

div.number {
    font-size:10vw;
}

div.item img {
    width: 100%;
}

div.col {

}

div.nav {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: flex-start;
}

div.w-1-2 {
    width: 50%;
}

div.footer {
    margin-top:33vh;
    display: flex;
    flex-wrap:wrap;
    padding:20px;
    border-top:1px solid black;
    color:black;
}