body {
    margin: 0px;
    font-family: leida, sans-serif;
    font-weight: 300;
    font-style: normal;
}

div {
    box-sizing: border-box;
}

@font-face {
    font-family:'UN11';
    src: url('UN_11ST_Bold.woff') format('woff');
}




h1,h2,h3 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}



div.title {
    font-size:70px;
    font-family: leida, sans-serif;
    font-weight: 300;
    font-style: normal;
}

div.subheader {
    font-size:50px;
}

div.quote {
    font-family: Arial, Helvetica, sans-serif;
    font-size:24vw;
    font-weight: bold;
}

div.footnote {
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

div.box {
    font-size:70px;
    width:300px;
    border:1px solid red;
    padding:20px;
    display: none;
}

div.centerbox {
    font-size: 36px;
    width:75%;
    border:1px solid red;
    margin-left: auto;
    margin-right:auto;
    display: none;
}

div.page {
    width:700px;
    border:1px solid rgb(114, 114, 237);
    margin-left:auto;
    margin-right:auto;
}

div.centerpage {
    font-size:30px;
    width:350px;
    border:1px solid red;
    margin-left:auto;
    margin-right:auto;
}

div.swatch {
    width:200px;
    height:200px;
    margin-bottom: 10px;
    border:1px solid black;
}

div.bg-blue {
    background-color: rgb(137, 137, 251);
}

div.bg-green {
    background-color: rgb(130, 255, 130);
}

div.bg-pink {
    background-color: pink;
}



@media(max-width: 700px) {
    div.page {
        width:90%;
        background-color: yellow;
    }
}


.hero {
    font-size:100px;
}

div.container {
    display: flex;
    flex-wrap:wrap;
}

div.width100 {
    width: 100%;
}

div.width75 {
    width: 75%;
}

div.width50 {
    width: 50%;
}

div.width25 {
    width: 25%;
}

div.pad {
    padding:20px;
}