body {
    background-color: darkseagreen;
    font-family:arial;
}

@font-face {
    font-family: "outward";
    src: url("./outward-block.woff");
}

@font-face {
    font-family: 'slanted';
    src:  url('Bourrasque-45Est.otf') format('opentype');
  }

h1 {
    font-family:"slanted";
    font-size:300px;
    letter-spacing: 3px;
}

div.title {
    font-family:"slanted";
}