body {
    background-color: black;
    color:white;
    font-size: 40px;
    font-family: arial;
}

img {
    width: 100%;
}

div.text {
    padding-top: 400px;
}

div.main {
    position: relative;
}

div.column-topleft {
    width: 429px;
    background-image: url('images/column-top-left.png');
    height: 1027px;
    position: absolute;
    top: 0px;
    left:0px;
    z-index: 2;
    pointer-events: none;
}

div.column-topright {
    width: 429px;
    background-image: url('images/column-top-right.png');
    height: 1027px;
    position: absolute;
    top: 0px;
    right:0px;
    z-index: 2;
    pointer-events: none;
}

div.column-left {
    height: 100%;
    width:429px;
    background-image: url('images/column-left-repeat.png');
    background-repeat: repeat-y;
    position: absolute;
    left:0px;
    top:0px;
    bottom:0px;
    z-index: 1;
    pointer-events: none;
}

div.column-right {
    height: 100%;
    width:429px;
    background-image: url('images/column-right-repeat.png');
    background-repeat: repeat-y;
    position: absolute;
    right:0px;
    top:0px;
    bottom:0px;
    z-index: 1;
    pointer-events: none;
}

div.column-bottomleft {
    width: 429px;
    background-image: url('images/column-bottom-left.png');
    height: 1027px;
    position: absolute;
    bottom: 0px;
    left:0px;
    z-index: 2;
    pointer-events: none;
}

div.column-bottomright {
    width: 429px;
    background-image: url('images/column-bottom-right.png');
    height: 1027px;
    position: absolute;
    bottom: 0px;
    right:0px;
    z-index: 2;
    pointer-events: none;
}

