body {
    background-color:black;
}

div.poster {
    width:75%;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
}

div.text {
    font-size:80px;
    font-family:arial narrow;
    text-align:left;
    color:yellow;
    transition:0.5s;
}

div.container {
    display:flex;
    flex-wrap:wrap;
}


div.col {
    border:1px solid yellow;
}

div.w1-2 {
    width:50%;
}

div.w1-4 {
    width: 25%;
}

div.byline {
    font-family:arial narrow;
    color:black;
    font-size:30px;
    width: 100%;
    background-color: yellow;
}

div.headline {
    margin-top:400px;
}


/* rule 1 */

/* to do a comment type cmd + ? */

div.text.one {
    font-size:40px;
}

div.text.two {
    font-size: 80px;
}

div.text.three {
    font-size: 120px;
}   

/* rule 2 */

div.text.a {

}

div.text.b {

}

div.text.c {

}

/* rule 3 */

div.text.x {
    
}

div.text.y{

}

div.text.z {

}

div.small {
    font-size: 30px;
    color:red;
    text-align: center;
}