body {
    background-color:red;
}

div.poster {
    background-color:white;
    width:75%;
}

div.container {
    display:flex;
    flex-wrap:wrap;
}

div.col {
    overflow:hidden;
}

/* 4 col grid */

div.w1-4 {
    width:25%;
}

div.w2-4 {
    width:50%;
}

div.w3-4 {
    width:75%;
}

div.w4-4 {
    width:100%;
}

/* 3 col grid */

div.w1-3 {
    width:33.33%;
}

div.w2-3 {
    width:66.66%;
}

div.w3-3 {
    width:100%;
}

/* 2 col grid */

div.w1-2 {
    width: 50%;
}

div.w2-2 {
    width: 100%;
}

/* end of grids */

div.text {
    font-size:120px;
    font-family:arial;
    text-align:center;
    color:red;
    transition:0.5s;
}

/* rule 1 */

/* to do a comment type cmd + ? */

div.text.one {
    font-size:30px;
    background-color:rgba(0, 0, 255, 0.572);
}

div.text.two {
    font-size:60px;
    background-color:#e71d1d;
}

div.text.three {
    font-size:160px;
    background-color:rgb(157, 100, 44);
}

/* rule 2 */

div.text.a {
    color:blue;
}

div.text.b {
    color:orchid;
}

div.text.c {
    color:lime;
}

/* rule 3 */

div.text.x {
    text-align:right;
}

div.text.y{
    text-align:left;
}

div.text.z {
    text-align:center;
}

div.small {
    font-size: 30px;
    color:red;
    text-align: center;
}